.friendItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.friendItem img {
  border-radius: 50%;
  margin-right: 10px;
}

.online {
  color: green;
}

.offline {
  color: red;
}
